/*
* Hide scrollbar
*/
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  scrollbar-width: 0px;
}

/*
To set the style of alert boxes. both alertIn and alertOut
animations are added to give a fadin and out effect.
*/
.alert {
  animation: alertIn 0.5s ease-in-out, alertOut 2s 1s ease-in-out forwards;
}

/*
The alertbox starts from top and comes down.
*/
@keyframes alertIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*
The alertbox starts to fade.
*/
@keyframes alertOut {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

/*
The icon in not-found is made to float
with this animation
*/
.float-along {
  animation: float_along 3s ease-in-out 1s infinite;
}

/*
  0 - stays the same
  50% - Moves to -30px
  100% - Comes back to its position
*/
@keyframes float_along {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}

/*
This gives a conversation effect 
to the text printed.
*/
.conversation {
  overflow: hidden;
  white-space: nowrap;
  width: fit-content;
  animation: typing 3s steps(50, end) forwards;
}

/*
width goes from 0 to 100%
*/
@keyframes typing {
  0% {
    max-width: 0%;
  }
  100% {
    max-width: 100%;
  }
}

.streaming-logo {
  animation: streaming 0.5s ease-in infinite alternate;
}

@keyframes streaming {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}

.pdf-list {
  animation: pdf-list-animation 0.5s ease-in-out forwards;
}

@keyframes pdf-list-animation {
  from {
    transform: translateX(-20%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
.delete-pdf {
  animation: delete-pdf-animation 0.5s ease-in-out forwards;
}
@keyframes delete-pdf-animation {
  from {
    transform: translateX(0%);
    opacity: 1;
  }
  to {
    transform: translateX(-20%);
    opacity: 0;
  }
}

.pdf-load-page {
  animation: pdf-load-page-animation 0.5s ease-in-out;
}

@keyframes pdf-load-page-animation {
  from {
    transform: translateY(-20%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

.pdf-next-page {
  animation: pdf-next-page-animation 0.5s ease-in-out;
}

@keyframes pdf-next-page-animation {
  from {
    transform: translateX(20%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

.pdf-prev-page {
  animation: pdf-prev-page-animation 0.5s ease-in-out;
}

@keyframes pdf-prev-page-animation {
  from {
    transform: translateX(-20%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

.appearing-in {
  animation: appearing_in 0.5s forwards;
}

@keyframes appearing_in {
  from {
    opacity: 0;
    transform: translateY(20%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
